<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>com.tapbots.TweetbotMac</string>
	<key>CFBundleIdentifier</key>
	<string>com.erikphansen.LaunchBar.action.OpenTweetURLInTweetbot</string>
	<key>CFBundleName</key>
	<string>Open Tweet URL in Tweetbot</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LBArgument</key>
	<string>Valid tweet URL: https://twitter.com/&lt;username&gt;/status/&lt;tweet_id&gt;</string>
	<key>LBAssociatedApplication</key>
	<string>com.tapbots.TweetbotMac</string>
	<key>LBDescription</key>
	<dict>
		<key>LBArgument</key>
		<string>Valid tweet URL: https://twitter.com/&lt;username&gt;/status/&lt;tweet_id&gt;</string>
		<key>LBAuthor</key>
		<string>Erik P. Hansen</string>
		<key>LBEmail</key>
		<string>eph@erikphansen.com</string>
		<key>LBRequirements</key>
		<string>Tweetbot for Mac</string>
		<key>LBResult</key>
		<string>Opens the specific tweet in Tweetbot for Mac</string>
		<key>LBSummary</key>
		<string>Takes a link to a specific tweet on twitter.com and opens the tweet in Tweetbot</string>
		<key>LBTwitter</key>
		<string>@eirkeirkeirk</string>
		<key>LBWebsiteURL</key>
		<string>blog.erikphansen.com</string>
	</dict>
	<key>LBRequiredApplication</key>
	<string>com.tapbots.TweetbotMac</string>
	<key>LBRequirements</key>
	<string>Tweetbot for Mac</string>
	<key>LBResult</key>
	<string>Opens the specific tweet in Tweetbot for Mac</string>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>unknown</string>
			<key>LBScriptName</key>
			<string>default.js</string>
		</dict>
	</dict>
	<key>LBTextInputTitle</key>
	<string>Enter Tweet URL</string>
</dict>
</plist>
